@charset "utf-8";

@use '../lib/global' as g;

/*----------------------------------------------------

	初期設定を行うファイルです。
	デフォルトの設定を行う時以外、基本的に編集することはありません。

----------------------------------------------------*/


html {
  scroll-behavior: smooth;
  font-size: 10px;
  @media screen and (max-width: 1000px) {
    font-size: 1vw; /* 10px / 1000px * 100 */
    
  }
  @include g.max-screen(g.$bp-sp) {
    font-size: 2.66666667vw; /* 10px / 375px * 100 */
  }
}

body {
  background: #fff;
  color: g.$font-color;
  font-size: #{g.$font-size-px}px;
  font-size: #{g.$font-size-rem}rem;
  font-family: g.$font-family;
  line-height: g.$line-height;
  // letter-spacing: #{g.$font-size-px * 0.01}px;
  @include g.max-screen(g.$bp-sp) {
    font-size: 1.4rem;
  }
}

.wrap {
  overflow: hidden;
  position: relative;
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

sup {
  font-size: 50%;
  vertical-align: super;
}
